/* Global style reset */
body, h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

body {
        font-family: "Roboto", sans-serif;
        background-color: rgba(255, 255, 255, 1);        
}


/* Remove the underline for href tag */
a {
        text-decoration: none;
}

/* Remove the bullet for <ul> and <li>*/
ul, li {
        padding: 0;
        margin: 0;
        display: inline;
}

/* container */
.container {
        max-width: 1158px;
        margin: 0 auto;
}

.buttons { 
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
}
.btn {
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 2px       
}

.btn:hover{
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--WHITE, #FFF);
        background: var(--OCEAN, #404BBF);
}

/* Header */
.header {
        display: flex;
        width: 1440px;
        height: 72px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; 
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
}

/* Navigation */
.header-navigation {
        display: inline-flex;
        align-items: flex-start;
}

.header-list {
        display: inline-flex;
        align-items: flex-start;
        gap: 40px;
        margin-right: 332px;
}

/* Logo */
.header-logo {
        display: inline-flex;
        height: 24px;
        align-items: center;
        flex-shrink: 0;
        margin-left: 156px;
        margin-right: 76px;
}


/* Span class logo styles */
.logo {
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.studio-navy {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

/* Header List */
.link {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        color: var(--NAVY-BLUE, #2E2F42)
}

/* Contacts Info */
.contact-info {
        display: inline-flex;
        align-items: flex-start;
}

.email {
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        color: var(--SLATE, #434455);
}

.number {
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        color: var(--SLATE, #434455);
        margin-left: 40px;
        margin-right: 156px;
}

.link:hover {
        color: var(--IRIS, #4D5AE5);
        background-color: transparent;
}

.link:active {
        color: var(--IRIS, #4D5AE5);
        background-color: transparent;
}

/* Align contact info in header */
.header .contact-info {
        display: flex;
        align-items: center;
}

/* Center contact info in header */
.header .contact-info ul {
        justify-content: center;
}

.contacts:hover {
        color: var(--IRIS, #4D5AE5);
        background-color: transparent;
}

.contacts:active{
        color: var(--IRIS, #4D5AE5);
        background-color: transparent;
}
/* End of Header */

/* Main section */
.hero-section{
        background: var(--NAVY-BLUE, #2E2F42);
        width: 1440px;
        height: 600px;
        flex-shrink: 0;
}

.main-hero {
        display: inline-flex;
        align-items: flex-start
}

.hero {
        width: 496px;
        color: var(--WHITE, #FFF);
        text-align: center;
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
}

button {
        color: var(--IRIS, #4D5AE5);
        /* Button Text */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.64px;
        border-radius: 4px;
        border: 0px;
        padding: 12px 24px;
        border: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--CLOUD, #F4F4FD);
}

.hero-btn {
        display:flex
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 48px
}

.hero-btn:hover {
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--WHITE, #FFF);
        background: var(--OCEAN, #404BBF);
}

h3 {
        color: var(--NAVY-BLUE, #2E2F42);
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}

p {
        color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

h2 {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
/* End of main section */

/* Footer */
footer {
        background: var(--NAVY-BLUE, #2E2F42);
}

.footer {
        color: var(--CLOUD, #F4F4FD);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

/* Span class studio-navy styles */
.studio-white {
        color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
/* End of Footer */

